@model OdeToFood.ViewModel.HomeIndexViewModel

@{
    ViewData["Title"] = "Index";
}



<div>
    <h1> @Html.DisplayFor(model => model.Message)</h1>
    <hr />
    
    @foreach (var item in Model.Resturants)
    {
    <table>
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
        </tr>
    </table>    
    }
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index" >Back to List</a>
</div>
